<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>A3_pavlovi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
  	<exception-type>javax.servlet.ServletException</exception-type>
  	<location>/index.jsp</location>
  </error-page>
  <context-param>
  	<param-name>dbUrl</param-name>
  	<param-value>jdbc:mysql://localhost:3306/</param-value>
  </context-param>
  <context-param>
  	<param-name>dbName</param-name>
  	<param-value>tracker</param-value>
  </context-param>
  <context-param>
  	<param-name>user</param-name>
  	<param-value>guest</param-value>
  </context-param>
  <context-param>
  	<param-name>passwd</param-name>
  	<param-value>hello420</param-value>
  </context-param>
  <listener>
  	<listener-class>ca.sheridancollege.java3.listeners.DbListener</listener-class>
  </listener>
  <security-constraint>
  	<web-resource-collection>
    	<web-resource-name>A3_pavlovi</web-resource-name>
    	<url-pattern>/*</url-pattern>
    	<http-method>GET</http-method>
    	<http-method>POST</http-method>
  	</web-resource-collection>
  	<auth-constraint>
    	<role-name>admin</role-name>
  	</auth-constraint>
  </security-constraint>
  <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
    	<form-login-page>/login.jsp</form-login-page>
    	<form-error-page>/loginerror.jsp</form-error-page> 
  	</form-login-config>
  </login-config>
  <security-role>
  	<role-name>admin</role-name>
  </security-role> 
</web-app>