<div class="container">
  <div class="row">
    <div class="col-md-9 justify">
      <h1>TENNIS SERVE TRACKER</h1>
    </div>
    <div class="col-md-3 justify images">
      <a target="_blank" href="https://play.google.com/store/apps/details?id=com.tennisservetracker&hl=en_CA">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/tennis-serve-tracker.appspot.com/o/googleStoreIcon.png?alt=media&token=160f04a5-0402-4f2a-93c9-fe45a52e68e7"
          alt="Download from Google Play"
          class="img-fluid">
      </a>
      <a target="_blank" href="https://apps.apple.com/ca/app/tennis-serve-tracker/id981601460">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/tennis-serve-tracker.appspot.com/o/appleStoreIcon.png?alt=media&token=127e74d9-f5a1-4f5b-837a-812e2be43820"
          alt="Download from Apple Store"
          class="img-fluid">
      </a>
    </div>
  </div>
  <hr>
    <div class="col-md-12">
      <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" routerLink="home.html" routerLinkActive="active">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link" routerLink="videos.html" routerLinkActive="active">Videos</a>
        <a class="flex-sm-fill text-sm-center nav-link" routerLink="help---faq.html" routerLinkActive="active">Help & FAQ</a>
        <a class="flex-sm-fill text-sm-center nav-link" routerLink="contact-us.html" routerLinkActive="active">Contact Us</a>
      </nav>
    </div>
</div>
