<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlexiLearn___ClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FlexiLearn___ClassLibrary.Properties.Settings>
            <setting name="conString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\ivanpavlov\source\repos\FlexiLearn - Ivan Pavlov\FlexiLearn - Ivan Pavlov\App_Data\Database.mdf";Integrated Security=True</value>
            </setting>
        </FlexiLearn___ClassLibrary.Properties.Settings>
    </applicationSettings>
</configuration>