div {
  font-family: Verdana, Geneva, sans-serif;
}

iframe {
  padding-left: 70px;
  padding-right: 70px;
}

@media only screen and (max-width: 768px) {
  iframe {
    padding-left: 25px;
    padding-right: 25px;
  }
}
