<div class="container">
  <div class="row">
    <div class="col-md-12">
      There are several problems with measuring tennis serve speed with a hand speed radar
      gun: direction of the serve is off with a direction of the radar gun introduces cosine
      error factor (lowers the actual speed); initial distance of ball speed capture point is
      closer than the server position (lowers actual speed as well). This is why Association
      of Tennis Professionals (ATP) does not recognize tennis serve measurements recorded in
      any event other than ATP level 250 and higher because these top level tournaments are
      equipped with systems costing thousands of dollars. But if you know how to lower the
      error margin with radar gun you can do it (but it’s not as inexpensive and reliable as
      “Tennis Serve Tracker”) and below are the videos of real time side by side comparison
      between speed radar gun and the app - see for yourself!
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="h-100 justify-content-center align-items-center embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        width="693"
        height="488"
        src="https://www.youtube.com/embed/dvx6uVAHp2o"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="h-100 justify-content-center align-items-center embed-responsive embed-responsive-16by9">
      <iframe
      class="embed-responsive-item"
      width="689"
      height="488"
      src="https://www.youtube.com/embed/-4d1U9ueg6Y"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="h-100 justify-content-center align-items-center embed-responsive embed-responsive-16by9">
      <iframe
      class="embed-responsive-item"
      width="689"
      height="488"
      src="https://www.youtube.com/embed/GW4iFJwBEAQ"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="h-100 justify-content-center align-items-center embed-responsive embed-responsive-16by9">
      <iframe
      class="embed-responsive-item"
      width="689"
      height="488"
      src="https://www.youtube.com/embed/8TSobs8UpD4"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="h-100 justify-content-center align-items-center embed-responsive embed-responsive-16by9">
      <iframe
      class="embed-responsive-item"
      width="689"
      height="488"
      src="https://www.youtube.com/embed/v7VtZcFKPlQ"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    </div>
    <br>
    <br>
  </div>
</div>
